<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.htw_app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:hardwareAccelerated="false">
        <activity
            android:name="com.example.htw_app.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.htw_app.RSSFeedDetails"
            android:label="@string/title_rssAnzeigen" >
        </activity>
        <activity
            android:name="com.example.htw_app.RSSNewsAnzeigen"
            android:label="@string/title_rssMain" >
        </activity>
        <activity
            android:name="com.example.htw_app.AboutActivity"
            android:label="@string/title_about" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.htw_app.mensaplan.SpeiseplanCAS"
            android:label="@string/title_mensa" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.htw_app.mensaplan.SpeiseplanCRB"
            android:label="@string/title_mensa" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.htw_app.mensaplan.SpeiseplanCRP"
            android:label="@string/title_mensa" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.htw_app.mensaplan.MensaActivity"
            android:label="@string/title_mensa" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gebaeudeplan.GebaeudeplanActivity"
            android:label="@string/title_gebaeudeplan" 
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.htw_app.NewsActivity"
            android:label="@string/title_news" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.htw_app.notenauskunft.Notenauskunft"
            android:label="@string/title_notenauskunft"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.htw_app.notenauskunft.NotenauskunftList"
            android:label="@string/title_notenauskunft"
			android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vorlesungsplan.StundenPlanActivity"
            android:label="@string/title_stundenplan"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.htw_app.SettingsActivity"
            android:label="@string/title_settings" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:label="@string/title_gebaeudeplan" android:name="com.gebaeudeplan.LoadScreenGebaeudeplan">
			<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity 
            android:name="com.vorlesungsplan.IngWI" 
            android:label="@string/title_activity_ing_wi"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="com.vorlesungsplan.ArchBau" 
            android:label="@string/title_activity_arch_bau"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="com.vorlesungsplan.Sozial" 
            android:label="@string/title_activity_sozial"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="com.vorlesungsplan.Wirtschaft" 
            android:label="@string/title_activity_wirtschaft"
            android:screenOrientation="portrait"> 
        </activity>
        <activity 
            android:name="com.vorlesungsplan.HTMLVIEW" 
            android:label="@string/title_activity_webview"
            android:screenOrientation="portrait"> 
        </activity>
        <activity 
            android:name="com.vorlesungsplan.BauAbschluss" 
            android:label="@string/title_activity_bau_abschluss"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="com.vorlesungsplan.ArchAbschluss" 
            android:label="@string/title_activity_arch_abschluss"
            android:screenOrientation="portrait"> 
        </activity>
        <activity 
            android:name="com.vorlesungsplan.ETAbschluss" 
            android:label="@string/title_activity_etabschluss"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="com.vorlesungsplan.PDFMethode" 
            android:label="@string/title_activity_pdfmethode"
            android:screenOrientation="portrait">
        </activity>
        
        <activity android:label="@string/title_gebaeudeplan" android:name="com.gebaeudeplan.RoomSearchActivity">
			<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:label="@string/title_roomSearchTitle" android:name="com.gebaeudeplan.SearchResultDetails">
			<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        
        
        
        
    </application>

</manifest>